[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-compression = "==1.3"
tensorflow-gpu = "==1.15.0"
pandas = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
